{% extends 'base/base.html' %} {% block content %} {% load static %}
<div class="container-fluid row my-3">
    {% for item in products %}
    <div class="col-lg-3 col-6 my-1 card">
        <div><span class="badge badge-{{item.get_label_bg_display}} m-1 ">{{item.get_label_display}}</span> </div>
        <a href="{{item.get_absolute_url}}" class="card-link">
            <img src="{{item.image.url}}" class="img-fluid" alt="...">
            <div class="text-center mx-2">
                <p class="h5 m-0">{{item.name}}<span class="badge badge-danger">New</span></p>
                <div class="d-flex h6 text-dark justify-content-between mb-0">
                    <p class="lead">P {{item.price}}</p>
                    <p class="mt-1">Sold: {{item.sold}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}